<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

    <import resource="classpath:dao-context.xml"/>

    <context:component-scan
            base-package="com.chat.webservice"/>

    <bean id="daoFactory"
          class="com.chat.dao.repository.DaoFactory">
    </bean>

    <bean id="serviceFactory"
          class="com.chat.webservice.businesslayer.ServiceFactory"/>

    <bean id="authService"
          class="com.chat.webservice.businesslayer.AuthService"/>

    <bean id="tokenGenerator" class="com.chat.webservice.utils.TokenGenerator"/>

    <context:annotation-config/>
    <mvc:annotation-driven/>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
</beans>